.mail-preview {
    flex-direction: column;
}

.mail-preview .mail-preview-div {
    gap: 20px;
    background-color: aliceblue;
    margin-block-end: 5px;
    cursor: pointer;
    height: 100px;    
}

.mail-preview .mail-preview-div>*:not(div.mail-body):not(button) {
    width: 200px;
}

.mail-preview-div div.mail-body {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mail-preview div.mail-from {
    margin-inline-start: 15px;
}

.mail-preview div.unread {
    font-weight: bold;
}

.mail-preview button {
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-inline-end: 10px;
    border-radius: 5px;
    background-color: red;
}