.mail-preview {
    flex-direction: column;
}

.mail-preview .mail-preview-div {
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgba(0,0,0,0.09);
    color: #202124;
    /* margin-block-end: 5px; */
    cursor: pointer;
    height: 100px;
    outline: 1px solid lightgrey   
}

.mail-preview .mail-preview-div:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.mail-preview-div div.mail-body {
    flex-grow: 1;
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    /* white-space: nowrap; */
}

.long-txt {
    /* flex-grow: 1; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.mail-preview div.mail-from {
    margin-inline-start: 15px;
}

.mail-preview div.unread {
    font-weight: bold;
}

.mail-preview .remove-mail-container button {
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-inline-end: 10px;
    border-radius: 50%;
    background-color: transparent;
    /* visibility: hidden; */
}

.mail-preview .remove-mail-container button:hover{
    visibility: visible;
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}