.note-list button {
    width: 30px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    font-family: montserrat-bold, serif;
    font-size: 1.5rem;
    margin: 3px;
}
/* .note-list ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 15px;
    padding-inline: 10px;
} */
.note-list ul{
    list-style: none;
    padding-inline: 0;
    column-width: 230px;
    column-count: 2;
    column-gap: 15px;
}

.note-list .pin {
    position: absolute;
    top: 1px;
    left: 0;
}

.note-list .btns {
    text-align: end;
    margin-block-start: 5px;
}

.note-list .btns img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media (min-width: 900px) {
    .note-list ul{
        column-count: 3;        
    }   
}

.note-list .green {
    background-color: lightgreen;
}