.note-add button {
    width: 35px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    font-family: montserrat-bold, serif;
    font-size: 1.2rem;
    margin: 6px;
}

.note-add {
display: flex;
justify-content: center;
align-items: center;
}

.note-add .btns-container{
display: flex;
justify-content: center;
align-items: center;
}

.note-add input {
    padding: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-family: lato, sans-serif;
    font-size: 1em;
    width: 45%;
    outline-color: white;
    outline-width: 0;
}

.main-input {
background-color: white;
box-shadow: 0 0 10px 0 gray;
border-radius: 10px;
margin-block: 10px;
max-width: 600px;
min-width: 450px;
}