.note-list button {
    width: 35px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    font-family: montserrat-bold, serif;
    font-size: 1.2rem;
    margin: 6px;
}
.note-list ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 15px;
    padding-inline: 10px;
}
/* .note-list .btns{
    display: none;
  
}
.note-list .btns:hover{
    display: block;
  
} */

.note-list .note-preview {
    flex-direction: column;
}