.book-filter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-filter form > input {
    margin-bottom: 10px;
}

.book-filter .search-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}